html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular") url("../fonts/MullerRegular.woff2")
    format("woff2");
  src: local("MullerRegular") url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MullerLight";
  src: local("MullerRegular") url("../fonts/MullerLight.woff2") format("woff2");
  src: local("MullerRegular") url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MullerBold";
  src: local("MullerRegular") url("../fonts/MullerBold.woff2") format("woff2");
  src: local("MullerRegular") url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", "MullerLight", "MullerBold", sans-serif;
  font-weight: 400;
  background: #e5e5e5;
}

/*gl0ob*/
.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  border-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding-bottom: 70px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
}

.section-title-other {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 40px;
}

/*header*/
.header {
  padding: 37px 0 70px 0;
}

.btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 15px 35px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: #cc9933;
  border: 1px solid #cc9933;
}

.header-logo-tel {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  align-items: center;
}

.header-nav-block {
  padding: 20px 30px 20px 10px;
  background: #ffffff;
  border-radius: 15px;
  align-items: center;
}

.herader-logo {
  margin-right: 40px;
}

.header-link-cabinet {
  margin-left: auto;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  background-image: url("../img/strelochka.svg");
  background-position: left center;
  background-size: 21px 12px;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.header-link {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-btn-group {
  margin-left: auto;
  padding-left: 50px;
  border-left: 1px solid #e1e1e1;
}

.header-list-item {
  margin-left: 45px;
}

.header-btn {
  margin-right: 40px;
}

.header-btn:last-child {
  margin-right: 0px;
}

/*specials*/
.section-title {
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}
.specials-items {
  flex-wrap: wrap;
  flex-direction: column;
}

.specials-item-img-first {
  margin: 0 23px 23px 0;
  min-width: 573px;
  min-height: 258px;
  padding: 40px;
  background-image: url("../img/specials1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.specials-item-img-second {
  margin-right: 23px;
  min-width: 573px;
  min-height: 258px;
  padding: 40px;
  background-image: url("../img/specials2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.specials-item:last-child {
  margin: 0 23px 0 0;
}

.specials-block-second {
  min-width: 573px;
  min-height: 540px;
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-image: url("../img/specials3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.specials-item-titles {
  margin: 0;
  margin-bottom: 15px;
  max-width: 300px;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}

.specials-item-descs {
  margin: 0;
  margin-bottom: 47px;
  max-width: 300px;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.specials-link {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #ffcc66;
}

.specials-link::after {
  content: url("../img/strel.svg");
  padding-left: 10px;
  position: relative;
}

.specials-item-title {
  margin: 0;
  margin-top: auto;
  max-width: 300px;
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.specials-item-desc {
  margin: 0;
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

/*about-us*/
.about-us-desc {
  margin: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  max-width: 888px;
  min-height: 180px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/*services*/
.services-items {
  flex-wrap: wrap;
}

.services-item {
  margin-bottom: 23px;
  width: 572px;
  min-height: 330px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.services-article {
  padding: 26px 45px 50px 45px;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
}

.services-article-title {
  margin: 0;
  font-size: 20px;
  line-height: 200%;
  color: #cc9933;
}

.services-article-title::after {
  content: url("../img/strel.svg");
  padding-left: 7px;
  position: relative;
}

.services-item-desc {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  max-width: 402px;
}

/*advantages*/
.advantages-items {
  flex-wrap: wrap;
}

.advantages-item {
  margin-bottom: 23px;
  width: 275px;
  min-height: 275px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-block {
  padding: 40px 42px 41px 45px;
  background: #ffffff;
  border-radius: 15px;
}

.advantages-svg {
  margin-bottom: 10px;
}

.advantages-item-title {
  margin: 0;
  max-width: 188px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/*accommodation*/
.accommodation-items {
  flex-wrap: wrap;
}

.accommodation-item {
  margin-bottom: 23px;
  width: 374px;
  min-height: 440px;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accommodation-previw-image {
  border-radius: 15px 15px 0px 0px;
}

.accommodation-blog-preview {
  padding: 36px 46px 41px 45px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
}

.accommodation-item-text {
  display: inline;
  margin-right: 44px;
}

.accommodation__rate-list {
  display: inline;
}

.accommodation__rate-list-item {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2px;
}

.accommodation-items-title {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px;
}

.accommodation-item-desct-two {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accommodation-item {
  position: relative;
}

.accommodation-end-link {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  top: 365px;
  left: 39px;
}

.accommodation-end-link::after {
  content: url("../img/arrow-white.svg");
  padding-left: 7px;
  position: relative;
}

.accommodation-last-img {
  border-radius: 15px;
}
